*{
    margin: 0px;
}
main,article,nav,head,footer{
    border: 1px solid black;
    color: white;
}
a{
    color: wheat;
    text-decoration: none;
    transition: .5s;
}
a:hover{
    color: white;
}

article{
    font-family: Raleway;
    grid-area: a;
    background-color: rgb(15, 67, 79);
}
nav{
    display: flex;
    padding: 30px;
    font-size: 1.5em;
    font-family: Rubik Glitch;
    grid-area: n;
    background-color: rgb(68, 120, 132);
}
nav a{
    margin-right: 30px;
}
head{
    font-family: Patrick Hand;
    grid-area: h;
    background-color: rgb(107, 148, 158);
}
footer{
    font-family: Patrick Hand;
    grid-area: f;
    background-color: rgb(107, 148, 158);
}
main{
    background-color: rgb(37, 92, 105);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    "h h h" 
    "n n n"
    "a a a"
    "f f f";
}
.oldal{
    background-color: rgb(37, 92, 105);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "m m m"
    "m m m";
}
.marka{
    grid-area: m;
}