*{
    margin: 0px;
}
main,article,nav,head,footer{
    border: 1px solid black;
}
article{
    grid-area: a;
}
nav{
    grid-area: n;
}
head{
    grid-area: h;
}
footer{
    grid-area: f;
}
main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    "h h h" 
    "n n n"
    "a a a"
    "f f f";
}
@media only screen and (max-width: 600px) {
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "h h" 
        "n n"
        "a a"
        "f f";
    }
    
}

@media only screen and (max-width: 400px) {
    main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "h" 
        "n"
        "a"
        "f";
    }
  
}